body {
    background-color:red;
}
header{
   background-color:red;
}
.navbar {
    background-color: #4CAF50; /* Cambia el color a verde (puedes elegir el color que prefieras) */
}
.navbar {
    background-color: #4CAF50; /* Color de fondo de la navbar */
    /* Otros estilos que quieras agregar */
}

    .navbar .nav-link {
        color: white; /* Cambia el color de los enlaces si es necesario para que contrasten */
    }

    .navbar .navbar-brand {
        color: white; /* Cambia el color del título de la navbar si es necesario */
    }
.logo{
    width:40px;
}
footer img {
    max-height: 60px; /* Ajusta el logo para que no sea demasiado grande */
    width: 100%; /* Hace que la imagen ocupe todo el ancho disponible */
    object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor sin deformarse */
}

footer p {
    margin-top: 10px;
    font-size: 0.9em;
}
