<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SociedadCorreacorreaDB"
			 connectionString="Server=localhost\MSSQLSERVER01;Database=sociedadcorreacorrea_bd;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
