<!DOCTYPE html >
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sociedad_Correa_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sociedad_Correa_Web.styles.css" asp-append-version="true" />
    <link href="~/css/Layout.css" rel="stylesheet" />
</head>
<body>
    <header>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <center><p style="color:white;">&copy; 2024 - Sociedad Comercial Correa Correa </p></center>
            <img src="~/Img/Logo_Final_cliente-removebg-preview.png" alt="Logo" class="img-fluid" style="max-height: 60px; width: 100%; object-fit: contain;">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
