@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/Index.css" rel="stylesheet" />

<div class="text-center">
    <h1 class="display-4">Inicio de sesion</h1>

    <h2>Nombre usuario</h2>
    <input placeholder="Ej: Pedro.silva" type="text" name="name" value="" />
    <br>
    <h2>Clave usuario</h2>
    <input placeholder="Ej: M21173213-8" type="password" name="name" value="" />
    <br />
    <br />
    <button class="button-login">Iniciar sesión</button>
</div>
