<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SociedadCorreacorreaDB"
			 connectionString="Server=testing-15.csgsfy29dqqc.us-east-1.rds.amazonaws.com,1433;Database=sociedadcorreacorrea_bd;User Id=admin;Password=victor12345;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>